<div class="border-top d-sm-flex justify-content-evenly text-center my-5">
    <div class="pt-4">
            <img src="{{ asset('build/images/pictos/SVG/cadenas.svg') }}" alt="Icône cadenas" class="border-step-cart rounded-circle border-green px-4 py-4 me-2">
            <p class="mt-3"> Paiement <br> 100% sécurisé </p>
    </div>
    <div  class="pt-4">
            <img src="{{ asset('build/images/pictos/SVG/truck.svg') }}" alt="Icône camion" class="border-step-cart rounded-circle border-green px-3 py-4 me-2">
            <p class="mt-3"> Livraison gratuite <br> à partir de 200 € HT </p>
    </div>
    <div  class="pt-4">
            <img src="{{ asset('build/images/pictos/SVG/parcel-shipping.svg') }}" alt="Icône livraison" class="border-step-cart rounded-circle border-green px-4 py-4 me-2">
            <p class="mt-3"> Retours acceptés <br> sous 14 jours </p>
    </div>
</div>