{% extends 'base.html.twig' %}

{% block title %}Validation{% endblock %}

{% block body %}
<div class="card">
  <div class="card-body">
     Merci {{ contact['Nom'] }}. Votre commande a été prise en compte.
  </div>
</div>

{% include 'partials/infos.html.twig' %}
{% endblock %}